In [11]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [14]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [24]:
from sklearn.model_selection import train_test_split

In [89]:
from sklearn.preprocessing import StandardScaler
from scipy import stats
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier

In [15]:
df = pd.read_csv('C:/Users/Lenovo/Documents/Documents/Data_Set/Iris.csv',index_col=['Id'])
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [36]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [27]:
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [28]:
ord_rank = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}

In [33]:
df['Species_ordinal'] = df['Species'].map(ord_rank)
df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_ordinal
Id,,,,,,
1,5.1,3.5,1.4,0.2,Iris-setosa,0
2,4.9,3.0,1.4,0.2,Iris-setosa,0
3,4.7,3.2,1.3,0.2,Iris-setosa,0
4,4.6,3.1,1.5,0.2,Iris-setosa,0
5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [42]:
X = df.iloc[:,:-2]
X.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1             5.1           3.5            1.4           0.2
2             4.9           3.0            1.4           0.2
3             4.7           3.2            1.3           0.2
4             4.6           3.1            1.5           0.2
5             5.0           3.6            1.4           0.2

In [43]:
y.head()

Id
1    0
2    0
3    0
4    0
5    0
Name: Species_ordinal, dtype: int64

In [44]:
X.shape

(150, 4)

In [47]:
std = StandardScaler()
X = std.fit_transform(X)
X = pd.DataFrame(X, columns=df.columns[:-2])
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      -0.900681      1.032057      -1.341272     -1.312977
1      -1.143017     -0.124958      -1.341272     -1.312977
2      -1.385353      0.337848      -1.398138     -1.312977
3      -1.506521      0.106445      -1.284407     -1.312977
4      -1.021849      1.263460      -1.341272     -1.312977

In [39]:
model_d = DecisionTreeClassifier()
model_l = LogisticRegression()
model_k = KNeighborsClassifier()

In [48]:
x_train, x_test, y_train, y_test = train_test_split(X,y,random_state=41,test_size=0.3)

In [49]:
model_l.fit(x_train, y_train)
model_d.fit(x_train, y_train)
model_k.fit(x_train, y_train)


pred_l  = model_l.predict(x_test)
pred_k = model_k.predict(x_test)
pred_d  = model_d.predict(x_test)

In [75]:
final_pred = np.array([])
for i in range(0,len(x_test)):
    final_pred = np.append(final_pred, stats.mode([pred_l[i], pred_k[i], pred_d[i]])[0][0])

In [54]:
final_pred

array([1., 3., 2., 3., 2., 3., 1., 3., 2., 3., 1., 3., 2., 3., 1., 2., 2.,
       3., 2., 3., 2., 3., 0., 3., 0., 3., 1., 3., 0., 3., 1., 3., 0., 3.,
       2., 2., 0., 3., 0., 3., 1., 3., 2., 3., 0., 3., 0., 3., 1., 3., 1.,
       3., 1., 2., 1., 3., 0., 3., 1., 3., 1., 3., 1., 3., 1., 3., 1., 3.,
       2., 3., 0., 3., 2., 3., 1., 3., 2., 3., 2., 3., 1., 3., 1., 3., 0.,
       3., 2., 3., 2., 3.])

In [76]:
accuracy_score(y_test, final_pred)

0.8888888888888888

In [70]:
accuracy_score(y_test,pred_l)

0.8888888888888888

In [74]:
a = stats.mode([1,2,3,1,1,1,])
a[0][0]

1

## ALternative Method Using VotingClassifier

In [77]:
from sklearn.ensemble import VotingClassifier

In [88]:
model1 = LogisticRegression(random_state=41)
model2 = DecisionTreeClassifier(random_state=41)
model3 = KNeighborsClassifier(n_neighbors=4)
model = VotingClassifier(estimators=[('lr', model1), ('dt', model2), ('knn', model3)], voting='hard')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8888888888888888