In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LogisticRegression

In [2]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.preprocessing import StandardScaler
from scipy import stats
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier
import statistics

In [5]:
df = pd.read_csv('C:/Users/Lenovo/Documents/Documents/Data_Set/Iris.csv',index_col=['Id'])
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [7]:
y.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
ord_rank = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}

In [9]:
df['Species_ordinal'] = df['Species'].map(ord_rank)
df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_ordinal
Id,,,,,,
1,5.1,3.5,1.4,0.2,Iris-setosa,0
2,4.9,3.0,1.4,0.2,Iris-setosa,0
3,4.7,3.2,1.3,0.2,Iris-setosa,0
4,4.6,3.1,1.5,0.2,Iris-setosa,0
5,5.0,3.6,1.4,0.2,Iris-setosa,0

In [10]:
type(df['Species'])

pandas.core.series.Series

In [11]:
X = df.iloc[:,:-2]
X.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1             5.1           3.5            1.4           0.2
2             4.9           3.0            1.4           0.2
3             4.7           3.2            1.3           0.2
4             4.6           3.1            1.5           0.2
5             5.0           3.6            1.4           0.2

In [12]:
y = df.iloc[:,-1]
y.head()

Id
1    0
2    0
3    0
4    0
5    0
Name: Species_ordinal, dtype: int64

In [13]:
X.shape

(150, 4)

In [14]:
std = StandardScaler()
X = std.fit_transform(X)
X = pd.DataFrame(X, columns=df.columns[:-2])
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      -0.900681      1.032057      -1.341272     -1.312977
1      -1.143017     -0.124958      -1.341272     -1.312977
2      -1.385353      0.337848      -1.398138     -1.312977
3      -1.506521      0.106445      -1.284407     -1.312977
4      -1.021849      1.263460      -1.341272     -1.312977

In [15]:
model_d = DecisionTreeClassifier()
model_l = LogisticRegression()
model_k = KNeighborsClassifier()

In [16]:
x_train, x_test, y_train, y_test = train_test_split(X,y,random_state=41,test_size=0.3)

In [17]:
model_l.fit(x_train, y_train)
model_d.fit(x_train, y_train)
model_k.fit(x_train, y_train)


pred_l  = model_l.predict(x_test)
pred_k = model_k.predict(x_test)
pred_d  = model_d.predict(x_test)

In [18]:
y.dtype

dtype('int64')

In [19]:
y.head()

Id
1    0
2    0
3    0
4    0
5    0
Name: Species_ordinal, dtype: int64

In [20]:
final_pred = np.array([])
for i in range(0,len(x_test)):
    final_pred = np.append(final_pred, statistics.mean([pred_l[i], pred_k[i], pred_d[i]]))

In [21]:
final_pred

array([1., 2., 2., 1., 2., 1., 2., 1., 2., 2., 2., 0., 0., 1., 0., 1., 0.,
       1., 0., 0., 1., 2., 0., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       2., 0., 2., 1., 2., 2., 1., 1., 0., 2., 2.])

In [22]:
accuracy_score(y_test, final_pred)

0.9111111111111111

In [23]:
accuracy_score(y_test,pred_l)

0.8888888888888888

In [24]:
a = stats.mode([1,2,3,1,1,1,])
a[0][0]

1

In [26]:
final_pred_ = pd.DataFrame(final_pred, columns=['Species_ordinal'])
final_pred_

    Species_ordinal
0               1.0
1               2.0
2               2.0
3               1.0
4               2.0
5               1.0
6               2.0
7               1.0
8               2.0
9               2.0
10              2.0
11              0.0
12              0.0
13              1.0
14              0.0
15              1.0
16              0.0
17              1.0
18              0.0
19              0.0
20              1.0
21              2.0
22              0.0
23              0.0
24              1.0
25              1.0
26              1.0
27              1.0
28              0.0
29              1.0
30              1.0
31              1.0
32              1.0
33              1.0
34              2.0
35              0.0
36              2.0
37              1.0
38              2.0
39              2.0
40              1.0
41              1.0
42              0.0
43              2.0
44              2.0

In [28]:
final_pred_['Species_ordinal'] = final_pred_['Species_ordinal'].map(dict(map(reversed, ord_rank.items())))
final_pred_.head()

   Species_ordinal
0  Iris-versicolor
1   Iris-virginica
2   Iris-virginica
3  Iris-versicolor
4   Iris-virginica

In [30]:
dict(map(reversed, ord_rank.items()))

{0: 'Iris-setosa', 1: 'Iris-versicolor', 2: 'Iris-virginica'}

In [31]:
y.dtype

dtype('int64')

In [29]:
accuracy_score(y_test,final_pred)

0.9111111111111111